#git{
  margin-top: 4%;
}
/* .GithubContainer {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
 
  border: 4px solid rgb(48, 46, 46);
  border-radius:0 50px;
  padding: 30px 10px 30px 10px;
} */


.statsDiv{
    width:80%;
    margin:auto;
    display:flex;
    justify-content:center;
    border-radius:50px;
    margin-bottom:50px;
}
.statsDiv>img{
    padding:20px 10px 20px 10px;
}
@media only screen and (min-width: 769px) and (max-width:1110px){
    .statsDiv{
        flex-direction:column; 
    }
    
}
@media only screen and (min-width: 481px) and (max-width:768px){
    
    .statsDiv{
        flex-direction:column; 
    }
    
}
@media only screen and (min-width:320px) and (max-width:480px){
    .statsDiv{
        width:90%;
        flex-direction:column; 
    }
   
}
@media only screen and (max-width: 319px){
    .statsDiv{
        width:90%;
        flex-direction:column; 
    }
   
}