
#nav{
    /* border:1px solid black; */
    background-color:var(--color-bg-primary);
    position: fixed;
    width:100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    z-index: 125;
    padding:0.8rem 3rem 0.8rem 3rem ;   
}
#hidden__nav{
    /* border:1px solid black; */
    background-color:var(--color-bg-primary);
    position: fixed;
    width:100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    z-index: 1;
    padding:0.8rem 3rem 0.8rem 3rem ;
}
#hidden__nav>div:nth-child(1){
    color:var(--color-primary);
    font-family: cursive;
    font-size: 2rem;
}

#nav>div:nth-child(1){
    color:var(--color-primary);
    font-family: cursive;
    font-size: 2rem;
}

#menu{
    /* border:1px solid black; */
    display: flex;
    gap:1.7rem;
}

#menu>a{
    /* border:1px solid black; */
    display: flex;
    align-items: center;
    gap:0.1rem;  
    font-size: 1.2rem;
    font-weight: 550;
}

#active{
    color: var(--color-bg)
}

.nav-icone{
    font-size: 1.7rem;
}
#menu>a:nth-child(6){
    /* border: 1px solid rgb(28, 28, 101); */
    border:none;
    background-color: var(--color-bg);
    color:var(--color-primary);
    border:none;
    padding:10px;  
    border-radius: 0.8rem;
}
/* hidden menu css */


@media screen  and (max-width:480px){
    #hidden__nav{
        padding:0.8rem 1rem 0.8rem 1rem ;
    }
    #nav{
        padding:0.8rem 1rem 0.8rem 1rem ;
    }
    #hidden__nav>div:nth-child(1){
        color:var(--color-primary);
        font-family: cursive;
        font-size: 1.2rem;
    }
    #nav>div:nth-child(1){
        color:var(--color-primary);
        font-family: cursive;
        font-size: 1.2rem;
    }
    .nav-icone{
        font-size: 1.2rem;
    }
    #menu{
        display:none;
      }
    .nav-hambarger{
        position:relative;
        display:flex;
        justify-content: space-between;
        margin-top: 0.4rem;
      }
      #hidden__menu{
        /* border: 1px solid red; */
        margin:3rem 2rem 2.5rem 0rem;
        display:grid;
        grid-template-rows: repeat(5,1fr);
        gap:1rem;
        z-index: 125;
     }
     #hidden__menu>a{
        /* border:1px solid black; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap:0.2rem;
        font-size: 0.8rem;
    }
     #hidden__menu>a:nth-child(6){
         /* border: 1px solid rgb(28, 28, 101); */
         border:none;
         background-color: var(--color-bg);
         color:var(--color-primary);
         border-radius: 0.8rem;
         padding:8px;  
     }
}

@media screen and (min-width:481px) and (max-width:768px){
    #hidden__nav>div:nth-child(1){
        font-family: cursive;
        font-size: 1.5rem;
    }
    #nav>div:nth-child(1){
        font-family: cursive;
        font-size: 1.5rem;
    }
    .nav-icone{
        font-size: 1.4rem;
    }
    #menu{
        display:none;
      }
    .nav-hambarger{
        position:relative;
        display:flex;
        justify-content: space-between;
        margin-top: 0.4rem;
      }
      #hidden__menu{
        /* border: 1px solid red; */
        margin:3rem 4rem 2.5rem 0rem;
        display:grid;
        grid-template-rows: repeat(5,1fr);
        gap:1rem;
        z-index: 125;
     }
     #hidden__menu>a{
        /* border:1px solid black; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap:0.2rem;
        font-size: 1.1rem;
    }
     #hidden__menu>a:nth-child(6){
         /* border: 1px solid rgb(28, 28, 101); */
         border:none;
         background-color: var(--color-bg);
         color: var(--color-primary);
         border-radius: 0.8rem;
         padding:8px;  
     }
  
}

@media only screen and (min-width: 769px) and (max-width: 960px) {
    #menu{
        display:none;
      }
    .nav-hambarger{
        position:relative;
        display:flex;
        justify-content: space-between;
        margin-top: 0.4rem;
      }
      #hidden__menu{
        /* border: 1px solid red; */
        margin:4rem 4rem 5rem 0rem;
        display:grid;
        grid-template-rows: repeat(5,1fr);
        gap:1.5rem;
        z-index: 125;
     }
     #hidden__menu>a{
        /* border:1px solid black; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap:0.4rem;
        font-size: 1.2rem;
        font-weight: 550;
    }
     #hidden__menu>a:nth-child(6){
         /* border: 1px solid rgb(28, 28, 101); */
         border:none;
         background-color: var(--color-bg);
         color:var(--color-primary);
         border-radius: 0.8rem;
         padding:10px;  
     }
  
    }

@media only screen and (min-width:960px){
    .nav-hambarger{
        display:none
    }
}